# Byte-compiled / optimized / DLL files
__pycache__/


# Pytest
.cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.db
*.sqlite3

# Virtual environment
sklearn-venv/
.env/
